.mastermind-app {
  width: 355px;
  height: 100%;
  background-color: rosybrown;
  margin-left: auto;
  margin-right: auto;
}

.mastermind-item {
  display: flex;
  line-height: 50px;
}

.mastermind-item div {
  display: flex;
  padding: 5px;
}

.yellow,
.yellow:hover {
  background-color: yellow;
}

.red,
.red:hover {
  background-color: red;
}

.blue,
.blue:hover {
  background-color: blue;
}

.orange,
.orange:hover {
  background-color: orange;
}

.purple,
.purple:hover {
  background-color: purple;
}
